
<div class="modal-header">
    <h3 class="modal-title">Add {{$ctrl.text}}</h3>
</div>
<form name="addForm" novalidate>
    <div class="modal-body">
        <div class="form-group">
            <label for="firstName">{{$ctrl.text}}</label>
            <input type="text" class="form-control" placeholder="Value" name="value" ng-model="$ctrl.value">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="submit" ng-click="$ctrl.add()">
            <span class="glyphicon glyphicon-plus"></span> Add
        </button>
        <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">
            <span class="glyphicon glyphicon-default"></span> Cancel
        </button>
    </div>
</form>