<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills nav-justified thumbnail">
            <li ui-sref-active="active">
                <a ui-sref="main.assess.entities">
                    <h4 class="list-group-item-heading">Entities</h4>
                    <p class="list-group-item-text">Companies, trusts and people</p>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="main.assess.finances">
                    <h4 class="list-group-item-heading">Finances</h4>
                    <p class="list-group-item-text">Profit and loss and balance sheets</p>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="main.assess.commitments">
                    <h4 class="list-group-item-heading">Commitments</h4>
                    <p class="list-group-item-text">Commitments and debts</p>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="main.assess.review">
                    <h4 class="list-group-item-heading">Review</h4>
                    <p class="list-group-item-text">Review information and serviceability</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<ui-view entities="$ctrl.entities" />