<form class="form-inline" name="entitiesForm" novalidate>
    <fieldset>
        <legend>Entities</legend>
        <div class="panel panel-default" ng-repeat="entity in $ctrl.entities">
            <div class="panel-heading">
                <h3 class="panel-title">#{{ $index + 1 }} {{entity.firstName}} {{entity.lastName}}</h3>
            </div>
            <div class="panel-body">
                <ng-form name="entityForm" >
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" placeholder="First Name" name="firstName" ng-model="entity.firstName">
                        <input type="text" class="form-control" placeholder="Last Name" name="lastName" ng-model="entity.lastName">
                    </div>
                    <div class="form-group">
                        <label for="dob">Date Of Birth</label>
                        <input type="date" class="form-control" placeholder="00/00/0000" name="dob"  ng-model="entity.dob">
                    </div>
                    <button type="button" class="btn btn-danger pull-right" ng-click="$ctrl.remove(entity)">
                        <span class="glyphicon glyphicon-remove"></span> Remove
                    </button>
                </ng-form>
            </div>
        </div>
        <button type="button" class="btn btn-success" ng-click="$ctrl.add()">
            <span class="glyphicon glyphicon-plus"></span> Add Entity
        </button>
    </fieldset>
</form>