<fieldset>
    <legend>Finances</legend>
    <div class="row">
        <div class="col-md-3">
            <entity-selector entities="$ctrl.entities" on-select="$ctrl.setIndex(index)"></entity-selector>
        </div>
        <div class="col-md-9">
            <h3>{{$ctrl.currentEntity.firstName}} {{$ctrl.currentEntity.lastName}}</h3>
            <form class="form-horizontal" novalidate>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Taxable Income
                        </h3>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col-md-4 text-center">
                                    Item
                                </th>
                                <th class="col-md-2 text-center">
                                    FY2014
                                </th>
                                <th class="col-md-2 text-center">
                                    FY2015
                                </th>
                                <th class="col-md-2 text-center">
                                    FY2016
                                </th>
                                <th class="col-md-2 text-center">
                                    FY2017
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Pay As You Go</strong>
                                </td>
                                <td class="input-control">
                                    <input type="number" placeholder="0.00" class="form-control text-right" />
                                </td>
                                <td class="input-control">
                                    <input type="number" placeholder="0.00" class="form-control text-right" />
                                </td>
                                <td class="input-control">
                                    <input type="number" placeholder="0.00" class="form-control text-right" />
                                </td>
                                <td class="input-control">
                                    <input type="number" placeholder="0.00" class="form-control text-right" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Some Other Shit</strong>
                                </td>
                                <td class="input-control">
                                    <input type="number" placeholder="0.00" class="form-control text-right" />
                                </td>
                                <td class="input-control">
                                    <input type="number" placeholder="0.00" class="form-control text-right" />
                                </td>
                                <td class="input-control">
                                    <input type="number" placeholder="0.00" class="form-control text-right" />
                                </td>
                                <td class="input-control">
                                    <input type="number" placeholder="0.00" class="form-control text-right" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <button type="button" class="btn btn-success btn-block" onclick="alert('gib time pl0x')">
                                        <span class="glyphicon glyphicon-plus"></span> Add Income
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</fieldset>