<fieldset>
    <legend>Finances</legend>
    <div class="row">
        <div class="col-md-3">
            <entity-selector entities="$ctrl.entities" on-select="$ctrl.selectEntity(index)"></entity-selector>
        </div>
        <div class="col-md-9">
            <h3>{{$ctrl.currentEntity.firstName}} {{$ctrl.currentEntity.lastName}}</h3>

            <form class="form-horizontal" name="taxableIncomeForm" novalidate>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Taxable Income
                        </h3>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 30%"></th>
                                <th ng-repeat="financialYear in $ctrl.financialYears" class="text-center" ng-style="{ 'width': (70/$ctrl.financialYears.length) + '%' }">
                                    FY{{financialYear}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, entry) in $ctrl.currentEntity.finances.taxableIncome">
                                <td>
                                    <strong>{{key}}</strong>
                                    <button type="button" class="close" ng-click="$ctrl.removeEntry($ctrl.currentEntity.finances.taxableIncome, key)"><span>&times;</span></button>
                                </td>
                                <td ng-repeat="financialYear in $ctrl.financialYears" class="input-control">
                                    <input type="number" placeholder="0.00" class="form-control text-right" ng-model="entry[financialYear]" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <button type="button" class="btn btn-success btn-block" ng-click="$ctrl.addEntry($ctrl.currentEntity.finances.taxableIncome, 'Taxable Income')">
                                        <span class="glyphicon glyphicon-plus"></span> Add Taxable Income
                                    </button>
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    <strong>Subtotal Taxable Income</strong>
                                </td>
                                <td ng-repeat="financialYear in $ctrl.financialYears" class="text-right">
                                    {{$ctrl.sumEntries($ctrl.currentEntity.finances.taxableIncome, financialYear)}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>

            <form class="form-horizontal" name="taxDeductiblesForm" novalidate>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Tax Deductibles
                        </h3>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 30%"></th>
                                <th ng-repeat="financialYear in $ctrl.financialYears" class="text-center" ng-style="{ 'width': (70/$ctrl.financialYears.length) + '%' }">
                                    FY{{financialYear}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, entry) in $ctrl.currentEntity.finances.taxDeductibles">
                                <td>
                                    <strong>{{key}}</strong>
                                    <button type="button" class="close" ng-click="$ctrl.removeEntry($ctrl.currentEntity.finances.taxDeductibles, key)"><span>&times;</span></button>
                                </td>
                                <td ng-repeat="financialYear in $ctrl.financialYears" class="input-control">
                                    <input type="number" placeholder="0.00" class="form-control text-right" ng-model="entry[financialYear]" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <button type="button" class="btn btn-warning btn-block" ng-click="$ctrl.addEntry($ctrl.currentEntity.finances.taxDeductibles, 'Tax Deductible')">
                                        <span class="glyphicon glyphicon-plus"></span> Add Tax Deductible
                                    </button>
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    <strong>Subtotal Tax Deductibles</strong>
                                </td>
                                <td ng-repeat="financialYear in $ctrl.financialYears" class="text-right">
                                    {{$ctrl.sumEntries($ctrl.currentEntity.finances.taxDeductibles, financialYear)}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>

            <form class="form-horizontal" name="taxFreeIncomeForm" novalidate>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Tax Free Income
                        </h3>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 30%"></th>
                                <th ng-repeat="financialYear in $ctrl.financialYears" class="text-center" ng-style="{ 'width': (70/$ctrl.financialYears.length) + '%' }">
                                    FY{{financialYear}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, entry) in $ctrl.currentEntity.finances.taxFreeIncome">
                                <td>
                                    <strong>{{key}}</strong>
                                    <button type="button" class="close" ng-click="$ctrl.removeEntry($ctrl.currentEntity.finances.taxFreeIncome, key)"><span>&times;</span></button>
                                </td>
                                <td ng-repeat="financialYear in $ctrl.financialYears" class="input-control">
                                    <input type="number" placeholder="0.00" class="form-control text-right" ng-model="entry[financialYear]" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <button type="button" class="btn btn-success btn-block" ng-click="$ctrl.addEntry($ctrl.currentEntity.finances.taxFreeIncome, 'Tax Free Income')">
                                        <span class="glyphicon glyphicon-plus"></span> Add Tax Free Income
                                    </button>
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    <strong>Subtotal Tax Free Income</strong>
                                </td>
                                <td ng-repeat="financialYear in $ctrl.financialYears" class="text-right">
                                    {{$ctrl.sumEntries($ctrl.currentEntity.finances.taxFreeIncome, financialYear)}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>

            <div class="panel panel-default">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 30%"></th>
                            <th ng-repeat="financialYear in $ctrl.financialYears" class="text-center" ng-style="{ 'width': (70/$ctrl.financialYears.length) + '%' }">
                                FY{{financialYear}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <strong>Income for servicing</strong>
                            </td>
                            <td ng-repeat="financialYear in $ctrl.financialYears" class="text-right">
                                Something
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</fieldset>